API_URI=http://localhost:4000
APP_URI=http://localhost:4200
APP_VERSION=

AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_ENDPOINT=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=

DATABASE_MASTER_HOST=
DATABASE_SLAVE_HOST=
DATABASE_PORT=
DATABASE_TYPE=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

DEBUG=false

ENCRYPT_KEY=
JWT_SECRET=
JWT_TTL=

MODE=production
ORIGIN=http://localhost:4200,https://ordero.vercel.app
PORT=4000

REDIS_DATABASE=0
REDIS_ENABLED=false
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_QUEUE=0

MAIL_FROM='Ordero <system@ordero.app>'
MAIL_PASSWORD=
MAIL_USERNAME=
SMTP_HOST=
SMTP_PORT=

MAILERSEND_API_KEY=
MAILERSEND_DOMAIN=

SENTRY_DSN=
SOCKET_TYPE=socketio

TWILLIO_SERVICE=
TWILLIO_SID=
TWILLIO_TOKEN=

TZ=UTC