{{#extend "mail-layout"}}

  {{#content "content"}}
    <p>Dear {{name}},</p>
    <p>You recently requested a reset of your Kelola Asuransi account password. Please click on the following link, and follow the steps to set a new one:</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <a  href="{{link}}" target="_blank">Set New Password</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p>If you have any problems, simply reply to this email and we'll get back to you as soon as we can.</p>
    <p>
      Cheers,<br /><br />
      The Kelola Asuransi Team<br />
    </p>
    <i>
      p.s. If you didn’t ask for a password reset, you can safely ignore this email, or reach out to us at support@kelola-asuransi.id with any concerns.
    </i>
  {{/content}}

{{/extend}}
