{{#extend "mail-layout"}}

  {{#content "content"}}
    <p>Dear {{name}},</p>
    <p>You recently changed your Kelola Asuransi account password.</p>
    <p>No action is required if you made this change. If you did not make this change, please contact support support@kelola-asuransi.id.</p>
    <p>
      Cheers,<br /><br />
      The Kelola Asuransi Team<br />
    </p>
  {{/content}}

{{/extend}}
