{{#extend "mail-layout"}}

    {{#content "content"}}
        <p>Dear {{name}},</p>
        <p>This email is to inform you that there is some inappropriate transaction data occurring from {{start}} to {{end}}.</p>
        <p>Please, check the attachment file below.</p>
        <br /><br />
        <p>If you have any problems, simply reply to this email and we'll get back to you as soon as we can.</p>
        <p>
            Cheers,<br /><br />
            The Ordero Team<br />
        </p>
    {{/content}}

{{/extend}}
