{{#extend "mail-layout"}}

  {{#content "content"}}
    <p>Dear {{name}},</p>
    <p>You are going to use this email address as your username in Ordero.</p>
    <p>To login to staff portal, please use the following password: <strong>{{password}}</strong></p>
    <p>If you have any problems, simply reply to this email and we'll get back to you as soon as we can.</p>
    <p>
      Cheers,<br /><br />
      The Kelola Team<br />
    </p>
  {{/content}}

{{/extend}}